* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: system-ui, sans-serif;
}

body {
  color: #333;
  background-color:#EDEDED;
  font-family: 'Montserrat', system-ui, sans-serif;
  height: auto;
  margin: 0;
}

header {
  position: sticky;
  top: 0;
  z-index: 1000;
  background: #1e7f3b;
  color: white;
  padding: 1rem;
  text-align: center;
  border-bottom: #333 solid 4px;
}

h1{
    font-family: 'Bebas Neue', sans-serif;
  letter-spacing: 1px;
}